:host {
    margin-top: auto;
    font-size: 1.2em;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0,70,0,0.4);
    border-top: .05em solid #040;
    cursor: pointer;
}

.name { color: #fff; }
.price { color: #0d0; }

span {
    margin: 0 0.1em;
}